html { 
  background: url(../images/rmnp.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: background 0.5s linear;
  -moz-transition: background 0.5s linear; /* Firefox 4 */
  -webkit-transition: background 0.5s linear; /* Safari and Chrome */
  -o-transition: background 0.5s linear; /* Opera */
}
/*overrride BS CSS*/
body {
  font-family:'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: transparent;
  color: #fff;
}
a {
	color: #fff;
}
a:hover{
	background-color: transparent;
}
/*header*/
.zl{
	text-align: center;
    border-style: solid;
    outline: none;
    width: 40%;
    float: none; margin: 0 auto;
    padding: 20px;
  }
/*profile pic*/
.person{
	width: 25%;
	height: 25%;
	padding: 20px;
}
.video{
	border: 0px;
	float: none;
}
.about{
	padding: 65px;
}
.projects{
	padding: 65px;
}