/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /*override CSS active navbar color to black*/

.person{
  width: 25%;
  height: 25%;
  padding: 20px;
}
nav ul a,
nav .brand-logo {
  color: #000;
}
nav .logoSpace{
    padding-left: 28px;
}
nav ul li.active {
  background-color: #000;
}
.active{
  color: #fff;
}
.contact{
  width: 50%;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.card{
  height: 300px
}

/*Override link color on projects page*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #eceff1;
}
/*text fadein*/
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fadeIn {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
#name{
      margin-top: 77%;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s;
}
#subheading{
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
.logo {
  opacity:0;  /* make things invisible upon start */
  padding-top: 100px;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

#LeftCube{
  -webkit-animation:moveRight 2s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:moveRight 2s;
  animation:moveRight 2s;
}
@keyframes moveRight {

0% {
    -ms-transform: translate(-100px, -150px); /* IE 9 */
    -webkit-transform: translate(-100px,-150px); /* Safari */
    transform: translate(-100px,-150px);
  }

100% {
    -ms-transform: translate(0px, 0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Safari */
    transform: translate(0px,0px);
  }
}
#RightCube{
  -webkit-animation:moveLeft 2s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:moveLeft 2s;
  animation:moveLeft 2s;
}
@keyframes moveLeft {

0% {
    -ms-transform: translate(100px, -150px); /* IE 9 */
    -webkit-transform: translate(100px,-150px); /* Safari */
    transform: translate(100px,-150px);
  }

100% {
    -ms-transform: translate(0px, 0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Safari */
    transform: translate(0px,0px);
  }
}
#TopCube{
  -webkit-animation:moveBottom 2s;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:moveBottom 2s;
  animation:moveBottom 2s;
}
@keyframes moveBottom {

0% {
    -ms-transform: translate(0px, -150px); /* IE 9 */
    -webkit-transform: translate(0px,-150px); /* Safari */
    transform: translate(0px,-150px);
  }

100% {
    -ms-transform: translate(0px, 0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Safari */
    transform: translate(0px,0px);
  }
}
.container{
  margin-top: 5%;
}

.cls-1 {
  font-size: 243px;
  font-family: HelveticaNeue, Helvetica Neue;
}
.circle{
  border-radius: 50%;
  border: 5px solid black;
}
.topSpace{
  padding-top: 100px;
}
