.home{
  margin-top: 20%;
}
.unique-circle {
  border-radius: 50%;
}
.text-color{
  color: #4267B0;
}
.center-offset{
  margin-left: 46%!important;
}
.center-offset img{
  width: 640px;
  height: 514px;
}
.center-section{
  margin-top: 8.3%;
}
.center-screen{
  margin-left: 27%!important;
}
.center-trophy{
  margin-left: 27%!important;
}
.trophy-text{
  margin-left: 28%!important
}
.unique {
  margin-top: 16%;
}
.unique .row{
  margin-bottom: 0px;
}
#learn{
  margin-top: 3%;
  margin-bottom: 3%;
}
#presentation {
  opacity: 0;
}
#work {
  opacity: 0;
}
.grow{
  transform: scale(0);
  transition: all 2s;
}
.grow.animate {
  -webkit-transition-delay: .5s; /* Safari */
    transition-delay: .5s;
    transform: scale(1);
}
.grow.trophy {
  -webkit-transition-delay: 1.5s; /* Safari */
    transition-delay: 1.5s;
    transform: scale(1);
}
.imgSM{
  opacity: .3;
}
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    #presentation{
      opacity: 0;
    }
}
