


body, html {
  height: 100%;
  overflow-x: hidden;
}
.row{

}
h3{
  text-transform: uppercase!important;
}
.nav{
  white-space: nowrap;
}
.navMobile{
  list-style: none;;
}
.nav-link{
  margin-right: .5rem;
}
.hero-image {
  /* The image used */
  background-image: url(../img/HERO.png);
  /* Set a specific height */
  height: 360px;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wwLogoSmall{
  width: 100%;
  padding-left: 17%;
  padding-right: 17%;
}
.btn-primary {
  text-transform: uppercase;
}

.bg-inverse {
  background-color: #000000!important;
}
a:hover{
  color: #d93f68;
}


/* Place text in the middle of the image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 56.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway'!important;
  color: #ffffff;
  font-weight: lighter;
  white-space: nowrap;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text p {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.2rem;
}

.black-btn {
  background-color: #000000;
  border-color: #000000;
  border-style: solid;
  border-top-width: 5px;
  border-right-width: 10px;
  border-bottom-width: 5px;
  border-left-width: 10px;
}
.black-btn:hover {
    color: #fff;
    background-color: rgb(217, 63, 104);
    border-color: rgb(217, 63, 104);
}

.getTheLook{
  padding-top: 2.5rem;
  text-transform: uppercase;
}
.h3 {
  font-family: Raleway, sans-serif!important;
}

a {
  text-transform: uppercase!important;
  color: #585451;
}

.navbar {
  padding: 0!important;
}

/*.container {
  width: 1000px!important;
}*/

.navbar-nav ul {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.navbar-nav a {
  color: #fff;
}

.form-control {
  border-radius: 0!important;
  font-family: FontAwesome,sans-serif;
}
/*Placeholder Colors*/
.form-control::-webkit-input-placeholder {
color:#757575!important;
}
.form-control:-moz-placeholder { /* Firefox 18- */
color:#757575!important;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
color:#757575!important;
}

.form-control:-ms-input-placeholder {
color:#757575!important;
}
.singleSpaceRow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.new {
  display: inline;
  color: #da3970;
}

hr {
  background-color: #efecea;
  width: 100%;
  height: 1px;
}

.heart {
  color: #cc6699;
}

.perfectMatch {
  padding-top: 70px;
  padding-bottom: 70px;
  text-transform: capitalize;
}
.perfectMatch p{
  color:  #757575;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.colOverride3 {
  flex: 1 0 19%;
}

h1 {
  font-size: 2.0em;
}

.btn-pink {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgb(217, 63, 104);
  width: 25%;
  height: 1.5%;
  text-transform: uppercase;
  min-height: 38px;
}
.btn-pink:hover {
  background-color: #000000;
}

.noPadding {
  padding: 0px;
}

#wrapper {
  max-width: 100%;
  padding: 50px 20px 50px 20px;
  position: relative;
}

button:focus {
  outline: 0 !important;
}

.left-controls {
  top: 12%;
  position: absolute;
  left: 0;
  width: 4%;
  height: 70%;
  padding-top: 12%;
  z-index: 40;
  cursor: pointer;
  text-align: center;
  /*webkit justify content: center;*/
  justify-content: center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display: ms flexbox;
  display: flex;
  color: #fff;
  background-color: #fff;
}

.chevron {
  transition: transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color: rgb(244, 242, 242);
}

.chevronProp {
  fill-rule: evenodd;
  fill: rgb(202, 196, 196);
}

.right-controls {
  top: 12%;
  position: absolute;
  right: 0;
  width: 4%;
  height: 70%;
  padding-top: 12%;
  z-index: 40;
  opacity: 1;
  cursor: pointer;
  text-align: center;
  /*webkit justify content: center;*/
  justify-content: center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display: ms flexbox;
  display: flex;
  color: #fff;
  background-color: #fff;
}

.title {
  color: #eee;
}

.module-section {
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.carousel {
  width: 600em;
  list-style-type: none;
  padding: 50px 0 50px 0;
}

#content {
  position: relative;
}

.cardInfo {
  float: left;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 50px;
  cursor: pointer;
  transform: scale(1);
  visibility: visible;
  border: none;
}

.inside-top {
  width: 100%;
  height: 150px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}


/*featured looks*/

.featured-image {
  height: 100%;
  height: 205px;
  padding: 3px;
  border-style: solid;
  border-color: rgb(239, 236, 234);
  background-color: rgba(255, 255, 255, 0);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  opacity: 0.5;
}

.featuredLooks-text:hover {
  color: #d93f68;
}


/* The Now Neutral (hero) image */

.nowneutrals-image {
  /* The image used */
  background-image: url('../img/nowneutrals.png');
}


/* The Perfect Pair (hero) image */

.perfectpair-image {
  /* The image used */
  background-image: url("../img/perfectpair.png");
}


/* The Gold Rush (hero) image */

.goldrush-image {
  /* The image used */
  background-image: url("../img/goldrush.png");
}


/* Place text in the middle of the image */

.featuredLooks-text {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  z-index: 2;
}

.nowneutrals-text {
  left: 53%;
}

.downArrow {
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

.quotes {
  height: 20%;
  font-family: initial;
  font-size: 6rem;
  margin-bottom: 0;
}

.nowNeutralsQuote {
  font-size: 22px;
  font-family: "Open Sans";
  color: rgb(89, 85, 82);
}
.nowNeutrals p{
  color: rgb(117, 117, 117);
}

.pink{
  font-size: 0.8125rem;
  color: rgb(217, 63, 104)!important;
}
.quoteCaroline {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(117, 117, 117);
}

.bridesmaids {
  padding: 0px;
}

.cardSpace {
  padding-left: 40px;
  padding-right: 40px;
}

.imgCard {
  position: relative;
  text-align: center;
}

.imgCard .link {
  position: absolute;
  bottom: 90%;
  right: 17%;
}

.imgCard .name {
  font-size: 13px;
  font-family: "Open Sans";
  color: rgb(89, 85, 82);
  line-height: 1.692;
  white-space: nowrap;
}

.imgCard a {
  color: #cc6699;
  font-size: 1.4rem;
  -webkit-text-stroke: 1.2px;
}
#sophia .link {
  right: 5%!important;
}

#sophia p {
  margin-top: 4.9%!important;
}

.ppTip {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(222, 150, 150);
  text-transform: uppercase;
  line-height: 1.333;
}

.ppQuote {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(117, 117, 117);
  line-height: 1.556;
  text-align: center;
}

.perfectPair .row {
  padding-bottom: 20px;
}

.goldTip {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(75, 107, 102);
  text-transform: uppercase;
  line-height: 1.333;
}

.goldRush .row {
  padding-bottom: 20px;
}

.models .name {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(217, 63, 104);
  line-height: 1.75;
  text-align: center;
  margin-top: 1rem;
}

.models p {
  margin: 0;
}
.models h1{
    font-size: 1.5rem;
    font-family: "Raleway";
    color: rgb(35, 31, 32);
    padding-bottom: 3%;
}

.designedByUsMobile{
  font-family: OpenSans;
  color:  #231f20;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
}

.mobileLine{
  display: block;
  width: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  padding-left: -1.5rem;
}
.navbar-toggler{
  background-color: #353232;
  margin-top: 4px;
}
.fullSelection {
  padding-top: 11%;
  padding-bottom: 11%;
}
.fullSelection p{
  font-size: .875rem;
  font-family: "Open Sans";
  color: rgb(89, 85, 82);
  font-style: italic;
  padding-bottom: 1%;
}


@media only screen and (max-width: 48rem) {
  body{
    background-color: #f4f2f2;
  }
  h2{
    text-transform: uppercase;
  }
  .hero-image{
    background-image: url(../img/HEROMobile.png);
    margin-top: -1px;
  }
  hr{
    display: none;
  }
  .container-fluid{
    padding: 0!important;
  }
  .hero-text h1{
    font-size: 2.5rem;
  }
  .black{
    color: black;
  }
  .btn-pink {
    width: auto;
    margin-bottom: 3rem;
  }
  .carousel{
    padding: 0;
  }
  .carouselSampleDesigns{
    background-color: white;
  }
  .featuredLooks{
    padding-top: 1.5rem;
  }
  #featuredMobile-text{
  color: rgb(89, 85, 82);
}
  .nowNeutralsSection{
    padding-top: 1.5rem;
  }
  .nowNeutrals{
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .nowNeutrals p{
    color: rgb(89, 85, 82);
  }
  .colOverride3 {
    flex: none;
    width: 50%;
    white-space: nowrap;
  }
  #sophiaMobile{
    height: 316px;
  }
  .perfectPair{
    background-color: #ffffff;
    margin-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #perfectTeam{
    max-width: 141%;
    margin: -1.5rem;
    padding-bottom: 2.5rem;
  }
  .goldRush{
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

.carouselMobile{
  padding: 0!important;
  margin-left: 1.65rem;
}
.cardInfo{
  margin: 0;
}
.right-controls {
  right: 3%;
  width: 13%;
  top: 13.5%;
  padding-top: 20%;
}
.left-controls{
  left: 3%;
  width: 13%;
  top: 13.5%;
  padding-top: 20%;
}
.form-control {
    width: 61%;
    margin-left: 13%;
}
.nav-link{
  margin-left: 25%;
}
}

@keyframes come-in {
  to { transform: translateY(0); }
}
@media screen and (min-width: 49rem){
  .cardInfo:hover {
    cursor: pointer;
    transform: scale(1);
    opacity: 0.5;
    visibility: visible;
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    z-index: 100;
    position: relative;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 400ms;
  }
  .wwLogo {
    margin-left: 26%;
  }
}
@media screen and (min-width: 100.083333rem){
  .pl-4 {
      padding-left: 7.5rem!important;
  }
}
