<div class="container">
  <div class="row">
    <div class="col m4 offset-m1">
      <div class="row">
        <div class="valign-wrapper">
          <h3 class="circleText center-align">Education Background</h3>
        </div>
      </div>
      <div class="row">
        <p>Zach will graduate in May 2017 with Bachelors of Science in Computer Science and a Minor in Technology, Arts, and Media,TAM, from the University of Colorado at Boulder. Zach's major has an empathsis on Human Centered Computing</p>
      </div>
    </div>
    <div class="col m4 offset-m3">
      <div class="row">
        <div class="valign-wrapper">
          <h3 class="circleText center-align">Professional Development</h3>
        </div>
      </div>
      <div class="row">
        <p>Zach started working in a customer service role, moved into an IT role, and worked his way into a research lab dedicated towards Computer Science education. These roles taught him the importance of teamwork, prioritization, and empathy. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m4 offset-m1">
      <div class="row">
        <div class="valign-wrapper">
          <h3 class="circleText center-align">Leadership Experience</h3>
        </div>
      </div>
      <div class="row">
        <p>For Zach, being a successful leader means to empower others and to bring other people with you. It might sound cheesy ,but Zach has found success with this in a student group he leads. Membership has quadupled since he tookover.</p>
      </div>
    </div>
    <div class="col m4 offset-m3">
      <div class="row">
        <div class="valign-wrapper">
          <h3 class="circleText center-align">Volunteer Mindset</h3>
        </div>
      </div>
      <div class="row">
        <p>Zach likes to help with many causes. He's helped organize a hackathon. He's tutored for free at low-income schools in math and physics. He currently volunteers as president of oSTEM @ CU Boulder (formerly SAGE).</p>
      </div>
    </div>
  </div>
</div>
