<div class="col s12 m12 l4">
  <div class="card  blue-grey lighten-5">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
      <span class="card-title activator grey-text text-darken-4">{{employer.name}}</span>

      <h5>&nbsp;&nbsp;</h5>
      <h5>{{employer.title}}</h5>
      <h6>{{employer.startDate}} - {{employer.endDate}}</h6>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{employer.location}}<i class="material-icons right">close</i></span>
      <p>{{employer.project}}</p>
    </div>
  </div>
</div>
