{% assign filteredProjects = "" | split,"" %}

{% for currentProj in site.data.projects  | reverse  %}
    {% assign filteredProjects = filteredProjects  | push:currentProj %}

{% endfor %}

  <div class="container">
     {% assign loopindex = 0 %}
     <h1>Graphic and Animation Projects</h1>
     <h5>Filter by type: </h5>
     <a class="waves-effect waves-light btn white black-text">All Projects</a>
     <a class="waves-effect waves-light btn white black-text">Code</a>
     <a class="waves-effect waves-light btn black disabled">Graphic Design</a>
     <a class="waves-effect waves-light btn white black-text">UX Design</a>
     {% assign projects = site.data.projects | reverse %}
      {% for project in projects %}
        {% if project.type == 'gDesign' %}

        {% endif %}
        {% assign loopindex = forloop.index %}
        {% assign rowfinder = loopindex | modulo: 3 %}
            {% if loopindex > 1  and rowfinder == 1 %}
            </div> <!-- endrow -->
            {% endif %}
            {% if rowfinder == 1 %}
              <div class="row">
              {% include projectCard.html %}
            {% else %}
              {% include projectCard.html %}
            {% endif %}
      {% endfor %}
      <br>
  </div>
