<nav class="white" role="navigation">
  <div class="nav-wrapper">
    <div class="col push-s3"></div>
    <a href="{{site.baseurl}}/index.html" class="brand-logo logoSpace">Zach Lamb</a>
    <ul class="right hide-on-med-and-down">
      {% for node in site.pages %}
        {% if page.url == node.url %}
          <li class="active page-scroll"><a href="{{site.baseurl}}/{{node.url}}/" class="active">{{node.title}}</a></li>
        {% else %}
          <li><a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul id="nav-mobile" class="side-nav">
      {% for node in site.pages %}
        {% if page.url == node.url %}
          <li class="active page-scroll"><a href="{{site.baseurl}}/{{node.url}}/" class="active">{{node.title}}</a></li>
        {% else %}
          <li><a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
