{% assign projects = site.data.projects | reverse %}
  <div class="container">
     {% assign loopindex = 0 %}
     <h1>Projects</h1>
      {% for project in projects %}
        {% assign loopindex = forloop.index %}
        {% assign rowfinder = loopindex | modulo: 3 %}
          {% if loopindex > 1  and rowfinder == 1 %}
          </div> <!-- endrow -->
          {% endif %}
          {% if rowfinder == 1 %}
            <div class="row">
            {% include projectCard.html %}
          {% else %}
            {% include projectCard.html %}
          {% endif %}
      {% endfor %}
      <br>
  </div>
