

.aboutPage h1 {
    color: $purple-blue;
}

.aboutCard {
    align-self: center;
}

.aboutPage .card-button {
    border-color: $purple-blue;
    color: $purple-blue;
    margin-top: 10%;
}


 .aboutPage .recharts-surface .recharts-legend-wrapper {
     left: auto;
     right: auto;
}

.aboutPage tspan {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .about-chart {
        display: none;;
    }
}