

.aboutPage h1 {
    color: $purple-blue;
}

.aboutCard {
    align-self: center;
}

.aboutPage .card-button {
    border-color: $purple-blue;
    color: $purple-blue;
    margin-top: 10%;
}


 .aboutPage .recharts-surface .recharts-legend-wrapper {
    padding-top: 1%;
    bottom:-56.2344px;
}