.blog-page {
    .blog-container{
        // @media screen and (min-width: 640px) and (max-width: 1024px){
        //     flex-direction: row;
        // }
    }
    .card-container {
        padding-left: 1%;
        padding-right: 1%;
    }
    .search-placeholder-text {
        padding-left: 4%;
    }
    div.blog-search {
        border-radius: 24px;
    }

    div.blog-search-column {
        min-height: 100%;
    }
    div.blog-card {
        border-radius: 35px;
        padding: 3% 3% 3% 3%;
        margin-bottom: 3%;
        h5 {
            color: $grey-blue;
        }
    }
}