.contact-page {
  h2 {
    color: $purple-blue;
  }
  h5 {
    color: $grey-blue;
  }
 .social-media{
   padding-bottom: 3%;
  a{
    padding-left: 5%;
    padding-right: 5%;
    line-height: 0;
  }
  button:hover{
    background-color: $purple-blue;
    svg {
      color: white;
    }
  }
 }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 100vh;
    align-items: flex-start;
    padding: 2%;
  }
}
