svg.skills-pie-chart g text,
.recharts-legend-item-text,
textPath,
.recharts-tooltip-wrapper {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}

.skills-page h1 {
  font-size: 21pt;
    color: #86a3d1;
}
