<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" type="text/css">
    <!-- Roboto Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic,700' rel='stylesheet' type='text/css'>
 </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
     <!-- Nav Bar -->
	<nav class=	"navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
     			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
     			 	<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        		</button>
        		 <a class="navbar-brand" href="{{site.baseurl}}/">ZL</a>
    		</div>
		<div class="collapse navbar-collapse container" id="navigationbar">
			<ul class="nav navbar-nav">
				<li>
					<a class="page-scroll" href="{{site.baseurl}}/ZachLambResume.pdf">Resume</a>
				</li>
			</ul>
		</div>
	</nav>

                        
    <br>
    <!-- about me -->
    <div class="container about">
        <div class"row">
            <div class="col-md-8 col-md-offset-2 hidden-xs">
                <h1><div class="zl">{{page.header}}</div></h1>
            </div>
        </div>
         <div class"row">
            <div class="col-md-8 col-md-offset-2 text-center">
                 <img src="images/me.jpg" class="img-circle person" alt="Picture of Zach Lamb">
            </div>
        </div>
        <div class"row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h4>{{page.content}}</h4>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="container projects">
        <div class"row">
             <div class="col-md-8 col-md-offset-2 text-center">        
                <h4>Featured Project</h4>
                <br>
                <p>The video below is a Film Noire intro sequence that I made in a digital media. The video was made in Adobe Premiere </p>
            </div>
        </div>
    </div>
    <div class="container projects">
        <div class"row">
        	<div class="col-md-8 col-md-offset-2 text-center"> 
	            <div class="embed-responsive embed-responsive-4by3">        
	                <iframe class="embed-responsive-item" src="https://drive.google.com/a/colorado.edu/file/d/0B3p_-WWX0UZSbkNXR2tQRXlsQk0/preview" width="640" height="480"></iframe>
	            </div>
	       	</div>
        </div>
    </div>
    <div class="page-content">
      <div class="wrapper">
      </div>
    </div>
  </body>
    <footer>
      <div>
      	 <a class="btn btn-social-icon btn-linkedin">
    <span class="fa fa-linkedin">https://www.linkedin.com/in/lambzachary</span>
  </a>

      </div>
      <!-- Latest compiled and minified JavaScript -->
	<script src="{{site.baseurl}}/js/jquery-1.11.3.min.js"></script>
	<script src="{{site.baseurl}}/js/wow.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </footer>

</html>
